body {
  font-family: Arial, sans-serif;
  background-color: black;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 20px;
}

h1 {
  color: #333;
}

p {
  color: white; /* Error messages will appear in red */
}
